<div class="container recipe my-3 ">
    <div class="row text-center mt-2">
                <h1>Titre recette</h1>
    </div>
    <div class="row">
        <div class="d-flex">
                <table class="table-primary ">
                <tr>
                    <td><img src="{{ asset('assets/images/temps-64.png')}}" alt="temsp de préparation"></td>
                    <td><?= $user['email']; ?></td>
                </tr>
                <tr>
                    <td><img src="{{ asset('assets/images/cuisson-64.png')}}" alt="temps de cuisson" class="my-3"></td>
                    <td><?= $user['alamat']; ?></td>
                </tr>
                <tr>
                    <td><img src="{{ asset('assets/images/repos.png')}}" alt="temps de repos" class="mt-3 pl-5"></td>
                    <td><?= $user['alamat']; ?></td>
                </tr>
                </table>
                <div class="">
                    <img src="{{ asset('assets/images/recipes/recette1.jpg')}}" class="img-thumbnail ml-5" >
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
               <button class="btn d-flex justify-content-md-end mt-3">Voir la recette</button>
        </div>
    </div>
</div>