{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="title d-flex justify-content-center " >Cabinet Sandrine Coupart</h1>
    <div class="container mt-5">
        <div class="row g-5">
            <section class="col-6">
                <h2 class="d-flex justify-content-center mb-3">À PROPOS</h2>
                <div class="d-flex">
                    <img class="photo" src="{{ asset('assets/images/photo-Sandrine.jpg')}}">
                    <p class="text-align-center m-4">Je suis Sandrine Coupart, une nutritionniste passionnée par l'art de bien manger pour une vie épanouissante. 
                    Mon objectif est de vous guider vers une meilleure santé, un bien-être durable et une compréhension profonde de la nutrition.
                    Chaque individu est unique, et c'est pourquoi je personnalise mes conseils en fonction de vos besoins, de vos préférences et de vos objectifs spécifiques.</p>
                </div>
            </section>
            
            <section class="col-6">
                <div class="services">
                    <h2 class="text-center pt-3">MES SERVICES</h2>
                    <p class=" text-align-center pt-4 px-3">Diététicienne nutritionniste dévouée à vous guider vers une vie plus saine grâce à une alimentation équilibrée. 
                    Mon objectif est de vous aider à atteindre vos objectifs de bien-être et de santé
                     en créant des plans nutritionnels personnalisés adaptés à votre style de vie, à vos besoins et à vos préférences.
                     Ensemble, nous pouvons créer un plan nutritionnel sur mesure qui vous permettra de vivre pleinement, en vous sentant mieux dans votre corps et votre esprit. 
                     Je suis impatiente de faire équipe avec vous pour atteindre vos objectifs de santé et de bien-être. 
                     N'hésitez pas à me contacter pour commencer votre voyage vers une vie plus saine et plus épanouissante.
                    </p>
                    <div class="d-flex justify-content-end p-3">
                        <button class="btn " href="">Accéder aux services</button>
                    </div>
                </div>
            </section>
         </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <h2 class="d-flex justify-content-center">MES RECETTES</h2>
            <div class="col-6">
                <p class="text-center">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
{% endblock %}
