{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="title d-flex justify-content-center " >Cabinet Sandrine Coupart</h1>
    <hr>
    <div class="container mt-5">
        <div class="row g-5">
            <section class="col-md-6">
                <h2 class="d-flex justify-content-center mb-3">À PROPOS</h2>
                <div class="d-flex">
                    <img class="photo" src="{{ asset('assets/images/photo-Sandrine.jpg')}}">
                    <p class="text-align-center m-4">Je suis Sandrine Coupart, une nutritionniste passionnée par l'art de bien manger pour une vie épanouissante. 
                    Mon objectif est de vous guider vers une meilleure santé, un bien-être durable et une compréhension profonde de la nutrition.
                </div>
            </section>
            
            <section class="col-md-6">
                <div class="services">
                    <h2 class="text-center pt-3">MES SERVICES</h2>
                    <p class=" text-align-center pt-4 px-3">Diététicienne nutritionniste dévouée à vous guider vers une vie plus saine grâce à une alimentation équilibrée. 
                    Mon objectif est de vous aider à atteindre vos objectifs de bien-être et de santé
                     en créant des plans nutritionnels personnalisés adaptés à votre style de vie, à vos besoins et à vos préférences.
                    </p>
                    <div class="d-flex justify-content-end p-3">
                        <button class="btn " href="">Accéder aux services</button>
                    </div>
                </div>
            </section>
         </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <h2 class="d-flex justify-content-center">RECETTES</h2>
            <hr>
            <div class="col-6">
                {% include "_partials/_recipes.html.twig"%}

            </div>
        </div>
    </div>


{% endblock %}
