.navColor
{
    background-color: #609A7D;
    color: #F3F3F7;
}

.navbar-toggler
{
    border-color: #0C0920;
    background-color: #F3F3F7
}

.nav-link
{
    color: #DC9A7C;
}

.title
{
    color: #609A7D;
    font-family: 'Noto Sans', sans-serif;
    /*font-weight: bold;*/
    font-size: 4em;
}

h2
{
    color: #DC9A7C;
    font-family: 'Noto sans', sans-serif;
    /*font-weight: bold;*/
    font-size: 2em;
}

.photo
{
    border-radius: 30%;
    border: 3px solid #609A7D;
    height: 300px;
    width: 250px;
}

.services
{
    background: linear-gradient(
        to top,
        #F3F3F7 81%,
        #609A7D 81% 82%,
        #DC9A7C 82%
    );
    border-radius: 10%;
    border: 3px solid #609A7D;
    width: 85%;
    height: 100%;
}

.services h2
{
    color: #F3F3F7
}

.mainServices
{
    background-color: #609A7D;
    color: #F3F3F7;
    border: 3px solid #609A7D;
    height: auto;
    width: 100%;
}
.recipe 
{
    background-color: #F3F3F7;
    border-radius: 10%;
    border: 3px solid #609A7D;
    width: 85%;
    height: 100%;

}

.connexion
{
    background-color: #609A7D;
    color: #F3F3F7;
    height: 100%;
    width: 100%;
}

.titleRecipe
{
    background-color: #DC9A7C;
    color: #F3F3F7;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
    border: #609A7D 3px solid;
    border-radius: 20%;
    width: 50%;
}

.card-title
{
    color: #DC9A7C;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.fullcard-text
{
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.recipe h1
{
    color: #DC9A7C;
}

.allRecipe img
{
    height: 55%;
    width: 60%;
}

.mentions h1
{
    background-color: #DC9A7C;
    color: #F3F3F7;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
    border: #609A7D 3px solid;
    border-radius: 20%;
    width: 50%;
}

.mentions li
{
    font-family: 'Noto sans', sans-serif;
    font-size: 1.5em;
}
.mentions ul li
{
    font-family: 'Noto sans', sans-serif;
    font-size: 1em;
}

.mentions h3
{
    text-transform: uppercase;
    font-family: 'Noto sans', sans-serif;
    font-size: 1em;
}

.btn 
{
    background-color: #0C0920;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 800;
    color: #F3F3F7;
}

.footer
{
    background-color: #609A7D;
    color: #F3F3F7;
}

.notes a
{
    display: block;
    color: #F3F3F7;
    font-size: 12px;
}

.gallery-wrapper {
    background-color: #dbdbdb;
    box-sizing: border-box;
    height: 185px;
    overflow: hidden;
  }
  
  /*Galerie photo accueil*/
  .gallery-scroll {
    box-sizing: border-box;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .gallery {
    background-color: #dbdbdb;
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height: 185px;
    padding: 0px 8.5px;
  }
  
  .item {
    box-sizing: border-box;
    height: 100%;
    padding: 16px 8.5px;
  }
  
  .item img {
    display: block;
    height: 100%;
  }

  .opinionRecipe  h5
  {
    color:#DC9A7C
  }

  .note
  {
    color: #609A7D;
  }

.com
{
    background-color: #DC9A7C;
    background-size: 50px 50px;
    color: #F3F3F7;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
}