.navColor
{
    background-color: #609A7D;
    color: #F3F3F7;
}

.navbar-toggler
{
    border-color: #0C0920;
    background-color: #F3F3F7
}

.title
{
    color: #609A7D;
    font-family: 'Reenie Beanie', sans-serif;
    /*font-weight: bold;*/
    font-size: 4em;
}

h2
{
    color: #DC9A7C;
    font-family: 'Noto sans', sans-serif;
    /*font-weight: bold;*/
    font-size: 2em;
}

.photo
{
    border-radius: 30%;
    border: 3px solid #609A7D;
    height: 300px;
    width: 250px;
}

.services
{
    background: linear-gradient(
        to top,
        #F3F3F7 81%,
        #609A7D 81% 82%,
        #DC9A7C 82%
    );
    border-radius: 10%;
    border: 3px solid #609A7D;
    width: 85%;
    height: 100%;
}

.services h2
{
    color: #F3F3F7
}

.recipe 
{
    background-color: #F3F3F7;
    border-radius: 10%;
    border: 3px solid #609A7D;
    width: 85%;
    height: 100%;

}

.recipe h1
{
    color: #DC9A7C;
}

.mentions h1
{
    background-color: #DC9A7C;
    color: #F3F3F7;
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 600;
    border: #609A7D 3px solid;
    border-radius: 20%;
    width: 50%;
}

.mentions li
{
    font-family: 'Noto sans', sans-serif;
    font-size: 1.5em;
}
.mentions ul li
{
    font-family: 'Noto sans', sans-serif;
    font-size: 1em;
}

.mentions h3
{
    text-transform: uppercase;
    font-family: 'Noto sans', sans-serif;
    font-size: 1em;
}

.btn 
{
    background-color: #0C0920;
    font-family: 'Baloo Bhaina', cursive;
    color: #F3F3F7;
}

.footer
{
    background-color: #609A7D;
    color: #F3F3F7;
}